html, body
{
  background-color: #f5eee2;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

nuxt-link, a{
  text-decoration: none;
}
